<h2>Users</h2>
<a href="#/"><p>My Profile</p></a>
<div ng-repeat="user in users">
    <a href="#/user/{{ user.id }}"><p>{{ user.username }}</p></a>
    <p>{{ user.email }}</p>
</div>
<h2>Change </h2>
<h2>Projects</h2>
<div ng-repeat="project in projects">
    <h3>{{ project.title }}</h3>
    <p>{{ project.description }}</p>
    <h4>Followers:</h4>
    <div ng-repeat="follower in project.follower">
        <p>{{ follower.username }}</p>
    </div>
    <button ng-click="follow(project)">Follow Project</button>
</div>
<h4>Default</h4>
    <pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></pagination>
<h2>Get User by First Name</h2>
<input ng-model="first" />
<a href="#/filterUser/{{ first }}"><button>Find User</button></a>
